.blue-text{
color: cornflowerblue;
}
.red-text{
color: palevioletred;
}


.league-spartan- {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
}